.movies-block {
  text-align: center;
}

.more-films {
  width: 320px;
  height: 36px;
  margin: auto;
  border: 0.5px solid #e8e8e8;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 80px;
}

@media screen and (max-width: 420px) {
  .more-films {
    width: 240px;
    height: 36px;
    margin-top: 90px;
  }
  .movies-block {
    padding: 0px;
  }
}
