.more-films {
  width: 320px;
  height: 36px;
  margin-left: 38%;
  border: 0.5px solid #e8e8e8;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 139px;
}

@media screen and (max-width: 420px) {
  .more-films {
    width: 240px;
    height: 36px;
    margin-top: 50px;
    margin-left: 40px;
  }
}
