.profile {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  height: 100vh;
}

.profile__header {
  margin: 74px auto 0px;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.profile__data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-collapse: separate;
  border-spacing: 0px;
  height: 62px;
  margin-top: 123px;
}

.profile__data-field {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  padding: 0;
  border: none;
}

.profile__already {
  margin: 220px auto 0px;
  color: #a0a0a0;
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.registration__already_exit-red {
  margin-top: 17px;
  color: red;
}

@media screen and (max-width: 769px) {
  .profile {
    width: 51%;
  }
}

@media screen and (max-width: 420px) {
  .profile {
    width: 81.25%;
  }
}
