.movie {
  display: flex;
  flex-direction: column;
  width: 360px;
  /* height: 233px; */
}

.movie__save {
  visibility: hidden;
  border-radius: 30px;
  max-width: 72px;
  min-height: 21px;
  color: black;
  position: relative;
  left: 260px;
  top: 30px;
  font-size: 10px;
  border: none;
}

.movie__save_pressed {
  border-radius: 30px;
  max-width: 21px;
  min-height: 21px;
  color: black;
  position: relative;
  left: 300px;
  top: 30px;
  font-size: 10px;
  border: none;
  background-image: url(../../../images/saved.svg);
}

.movie:hover .movie__save {
  visibility: visible;
}

.movie__delete {
  visibility: hidden;
  border-radius: 30px;
  max-width: 21px;
  min-height: 21px;
  color: black;
  position: relative;
  left: 300px;
  top: 30px;
  font-size: 10px;
  border: none;
  background-image: ("../");
}

.movie:hover .movie__delete {
  visibility: visible;
}

.movie__image {
  border-radius: 10px;
  height: 201px;
  width: 339px;
}

.movie__info {
  display: flex;
  justify-content: space-between;
}

.movie__duration-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 3px;
  width: 52px;
  height: 18px;
  margin-right: 14px;
  margin-top: 14px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
  background-color: #f9f9f9;
}

.movie__name {
  padding: 0;
  margin: 0;
  margin-left: 14px;
  margin-top: 14px;
}

.movie__duration {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .movie {
    width: 339px;
    /* height: 190px; */
  }

  .movie__save {
    left: 250px;
  }

  .movie__delete {
    left: 290px;
  }
}

@media screen and (max-width: 420px) {
  .movie {
    width: 300px;
    /* height: 168px; */
  }
  .movie__image {
    border-radius: 10px;
    height: 190 px;
    width: 300px;
  }

  .movie__save {
    visibility: visible;
    border-radius: 30px;
    width: 72px;
    height: 21px;
    color: black;
    position: relative;
    left: 220px;
    top: 30px;
    font-size: 10px;
  }

  .movie__delete {
    visibility: visible;
    border-radius: 30px;
    width: 72px;
    height: 21px;
    color: black;
    position: relative;
    left: 260px;
    top: 30px;
    font-size: 10px;
  }
}
