.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 79px 70px 0px;
  text-align: center;
}

/* .footer__top {
  padding-bottom: 10px;
} */

.footer__top-caption {
  color: #a0a0a0;
  margin: 0px;
}

.footer__separator {
  margin: 0px;
  border: solid 0.5px;
  color: #a0a0a0;
  margin: 20px 0px;
}

.footer__bot {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.footer__logo {
  margin: 0px;
  margin-left: 70px;
}

.footer__right {
  display: flex;
  margin-right: 70px;
}

.footer__yp {
  margin: 0px;

  margin-right: 17px;
}

.footer__gh {
  margin: 0px;
  text-decoration: none;
  color: black;
  margin: auto;
}

.footer__gh:visited {
  text-decoration: none;
  color: inherit;
}

.footer__gh:link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .footer__bot {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__right {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    margin-left: 0px;
  }

  .footer__right {
    display: flex;
    margin-right: 0px;
  }

  .footer__yp {
    margin-right: 0px;
  }
}
